@model BuildTrackMVC.Models.Cliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h2>Detalhes do Cliente</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">NIF</dt>
        <dd class="col-sm-10">@Model.NIF</dd>

        <dt class="col-sm-2">Morada</dt>
        <dd class="col-sm-10">@Model.Morada</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Telefone</dt>
        <dd class="col-sm-10">@Model.Telefone</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
