@model IEnumerable<BuildTrackMVC.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>NIF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.NIF</td>
            <td>@item.Email</td>
            <td>@item.Telefone</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
